# Preprocesamiento datasets variables climáticas

## 1. Importar librerias

In [1]:
#!pip install pyproj
import pandas as pd
from pyproj import Transformer

## 2. Importar datasets y concatenar

### 2.1 Temperatura media

In [2]:
datatemp1 = pd.read_csv('temp_anual_2000_2006.csv')
datatemp2 = pd.read_csv('temp_anual_2007_2013.csv')
data_temp_anual = pd.concat([datatemp1, datatemp2])
data_temp_anual.head(3)

,FID,id_punto,agno,temp_anual,geom
0,temp_anual_espacial_p.fid-6ba7a30a_1775aed6af4...,0,2000,-20.39,POINT (-4202310.777446077 18546349.31878927)
1,temp_anual_espacial_p.fid-6ba7a30a_1775aed6af4...,0,2001,-20.02,POINT (-4202310.777446077 18546349.31878927)
2,temp_anual_espacial_p.fid-6ba7a30a_1775aed6af4...,0,2002,-19.44,POINT (-4202310.777446077 18546349.31878927)

### 2.2 Temperatura máxima

In [3]:
datatmax1 = pd.read_csv('temp_maxima_2000_2006.csv')
datatmax2 = pd.read_csv('temp_maxima_2007_2012.csv')
data_temp_max = pd.concat([datatmax1, datatmax2])
data_temp_max.head(3)

,FID,id_punto,agno,temp_max_anual,geom
0,temp_max_anual_espacial_p.fid-6ba7a30a_177bd4a...,0,2000,-16.61,POINT (-4202310.777446077 18546349.31878927)
1,temp_max_anual_espacial_p.fid-6ba7a30a_177bd4a...,0,2001,-16.28,POINT (-4202310.777446077 18546349.31878927)
2,temp_max_anual_espacial_p.fid-6ba7a30a_177bd4a...,0,2002,-15.61,POINT (-4202310.777446077 18546349.31878927)

### 2.3 Temperatura mínima

In [4]:
datatmin1 = pd.read_csv('temp_minima_2000_2006.csv')
datatmin2 = pd.read_csv('temp_minima_2007_2012.csv')
data_temp_min = pd.concat([datatmin1, datatmin2])
data_temp_min.head(3)

,FID,id_punto,agno,temp_min_anual,geom
0,temp_min_anual_espacial_p.fid-6ba7a30a_177bd4e...,0,2000,-24.2,POINT (-4202310.777446077 18546349.31878927)
1,temp_min_anual_espacial_p.fid-6ba7a30a_177bd4e...,0,2001,-23.8,POINT (-4202310.777446077 18546349.31878927)
2,temp_min_anual_espacial_p.fid-6ba7a30a_177bd4e...,0,2002,-23.3,POINT (-4202310.777446077 18546349.31878927)

### 2.3 Lluvia

In [5]:
datarain1 = pd.read_csv('rainfall_anual_2000_2006.csv')
datarain2 = pd.read_csv('rainfall_anual_2007_2012.csv')
data_rain = pd.concat([datarain1, datarain2])
data_rain.head(3)

,FID,id_punto,agno,pre_anual,geom
0,pre_anual_espacial_p.fid-6ba7a30a_1775aeff0ca_...,0,2000,10.0,POINT (-4202310.777446077 18546349.31878927)
1,pre_anual_espacial_p.fid-6ba7a30a_1775aeff0ca_...,0,2001,10.0,POINT (-4202310.777446077 18546349.31878927)
2,pre_anual_espacial_p.fid-6ba7a30a_1775aeff0ca_...,0,2002,10.0,POINT (-4202310.777446077 18546349.31878927)

#### 2.4 Evapotranspiración potencial

In [6]:
dataETP1 = pd.read_csv('PET_anual_2000_2006.csv')
dataETP2 = pd.read_csv('PET_anual_2007_2012.csv')
data_ETP = pd.concat([dataETP1, dataETP2])
data_ETP.head(3)

,FID,id_punto,agno,etp_anual,geom
0,etp_anual_espacial_p.fid-6ba7a30a_177bcf97f6d_...,30,2000,171,POINT (-4870227.722205719 18054427.270440254)
1,etp_anual_espacial_p.fid-6ba7a30a_177bcf97f6d_...,30,2001,177,POINT (-4870227.722205719 18054427.270440254)
2,etp_anual_espacial_p.fid-6ba7a30a_177bcf97f6d_...,30,2002,216,POINT (-4870227.722205719 18054427.270440254)

**Observación**: Se identifica que no estan los puntos del 0 al 29 en la variable 'etp_anual'

### 2.5 Validación de los datasets

- Cantidad de datos

In [7]:
print('data_temp_anual:',data_temp_anual.shape)
print('data_temp_max:',data_temp_max.shape)
print('data_temp_min:',data_temp_min.shape)
print('data_rain:',data_rain.shape)
print('data_ETP:',data_ETP.shape)

data_temp_anual: (876460, 5)
data_temp_max: (876460, 5)
data_temp_min: (876460, 5)
data_rain: (876460, 5)
data_ETP: (812279, 5)

**Observación**: Se identifican nuevamente los datos fatltantes en la variable 'etp_anual'

 - Que se tengan los años completos de 2000 a 2012

In [8]:
print('data_temp_anual:',data_temp_anual['agno'].unique())
print('data_temp_max:',data_temp_max['agno'].unique())
print('data_temp_min:',data_temp_min['agno'].unique())
print('data_rain:',data_rain['agno'].unique())
print('data_ETP:',data_ETP['agno'].unique())

data_temp_anual: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012]
data_temp_max: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012]
data_temp_min: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012]
data_rain: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012]
data_ETP: [2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012]

## 3. Unificar datasets

Para unificar los datasets  se una como claves las variables 'id_punto' y 'agno'

Transformamos las bases de datos para poder hacer merge

- eliminando la primera columna en todas las datas, ya que no aporta al ejercicio

In [9]:
data_temp_anual.drop(columns=['FID'],inplace=True)
data_temp_max.drop(columns=['FID','geom'],inplace=True)
data_temp_min.drop(columns=['FID','geom'],inplace=True)
data_rain.drop(columns=['FID','geom'],inplace=True)
data_ETP.drop(columns=['FID','geom'],inplace=True)

- Uniendo 'Id_punto' y 'agno' en una sola variable

In [10]:
data_clima=pd.merge(data_temp_anual,data_temp_max,on=['id_punto', 'agno'])
#data_clima.head(3)

In [11]:
data_clima=pd.merge(data_clima,data_temp_min,on=['id_punto', 'agno'])
#data_clima.head(3)

In [12]:
data_clima=pd.merge(data_clima,data_rain,on=['id_punto', 'agno'])
#data_clima.head(3)

In [13]:
data_clima=pd.merge(data_clima,data_ETP,on=['id_punto', 'agno'])
data_clima.head(3)

,id_punto,agno,temp_anual,geom,temp_max_anual,temp_min_anual,pre_anual,etp_anual
0,30,2000,-21.89,POINT (-4870227.722205719 18054427.270440254),-11.05,-32.75,26.0,171
1,30,2001,-21.49,POINT (-4870227.722205719 18054427.270440254),-10.65,-32.35,26.0,177
2,30,2002,-20.82,POINT (-4870227.722205719 18054427.270440254),-9.87,-31.80,26.0,216

In [14]:
data_clima=data_clima[['id_punto', 'agno','temp_anual','temp_max_anual','temp_min_anual','etp_anual','geom']]
data_clima.head()

,id_punto,agno,temp_anual,temp_max_anual,temp_min_anual,etp_anual,geom
0,30,2000,-21.89,-11.05,-32.75,171,POINT (-4870227.722205719 18054427.270440254)
1,30,2001,-21.49,-10.65,-32.35,177,POINT (-4870227.722205719 18054427.270440254)
2,30,2002,-20.82,-9.87,-31.80,216,POINT (-4870227.722205719 18054427.270440254)
3,30,2003,-20.89,-9.97,-31.85,204,POINT (-4870227.722205719 18054427.270440254)
4,30,2004,-21.18,-10.35,-32.04,189,POINT (-4870227.722205719 18054427.270440254)

### 4. Transformación del tipo de coordenadas

In [15]:
transformer = Transformer.from_crs("epsg:3857", "epsg:4326")

In [16]:
data_clima.replace(regex=['POINT '], value='', inplace=True)
data_clima.replace(regex=['\('], value='', inplace=True)
data_clima.replace(regex=['\)'], value='', inplace=True)
data_clima[['latitude','longitude']] =  data_clima.geom.str.split(n=1,expand=True,)
#data_temp_anual = data_temp_anual.geom.str.split(expand=True).append(data_temp_anual, ignore_index = True)
data_clima.head()

,id_punto,agno,temp_anual,temp_max_anual,temp_min_anual,etp_anual,geom,latitude,longitude
0,30,2000,-21.89,-11.05,-32.75,171,-4870227.722205719 18054427.270440254,-4870227.722205719,18054427.270440254
1,30,2001,-21.49,-10.65,-32.35,177,-4870227.722205719 18054427.270440254,-4870227.722205719,18054427.270440254
2,30,2002,-20.82,-9.87,-31.80,216,-4870227.722205719 18054427.270440254,-4870227.722205719,18054427.270440254
3,30,2003,-20.89,-9.97,-31.85,204,-4870227.722205719 18054427.270440254,-4870227.722205719,18054427.270440254
4,30,2004,-21.18,-10.35,-32.04,189,-4870227.722205719 18054427.270440254,-4870227.722205719,18054427.270440254

In [17]:
def coord(x,y):
    x1,y1 = transformer.transform(x,y)
    return x1,y1

In [18]:
data_clima['coordenadas'] = data_clima.apply(lambda x: coord(x.latitude, x.longitude), axis=1)
data_clima.head()

,id_punto,agno,temp_anual,temp_max_anual,temp_min_anual,etp_anual,geom,latitude,longitude,coordenadas
0,30,2000,-21.89,-11.05,-32.75,171,-4870227.722205719 18054427.270440254,-4870227.722205719,18054427.270440254,"(83.25000000000001, -43.75)"
1,30,2001,-21.49,-10.65,-32.35,177,-4870227.722205719 18054427.270440254,-4870227.722205719,18054427.270440254,"(83.25000000000001, -43.75)"
2,30,2002,-20.82,-9.87,-31.80,216,-4870227.722205719 18054427.270440254,-4870227.722205719,18054427.270440254,"(83.25000000000001, -43.75)"
3,30,2003,-20.89,-9.97,-31.85,204,-4870227.722205719 18054427.270440254,-4870227.722205719,18054427.270440254,"(83.25000000000001, -43.75)"
4,30,2004,-21.18,-10.35,-32.04,189,-4870227.722205719 18054427.270440254,-4870227.722205719,18054427.270440254,"(83.25000000000001, -43.75)"

In [19]:
data_clima.drop(['id_punto', 'geom','latitude','longitude'], axis = 1, inplace = True)
data_clima.head()

,agno,temp_anual,temp_max_anual,temp_min_anual,etp_anual,coordenadas
0,2000,-21.89,-11.05,-32.75,171,"(83.25000000000001, -43.75)"
1,2001,-21.49,-10.65,-32.35,177,"(83.25000000000001, -43.75)"
2,2002,-20.82,-9.87,-31.80,216,"(83.25000000000001, -43.75)"
3,2003,-20.89,-9.97,-31.85,204,"(83.25000000000001, -43.75)"
4,2004,-21.18,-10.35,-32.04,189,"(83.25000000000001, -43.75)"

In [21]:
data_clima.to_csv('Data_clima_final.csv')